body{/*直接官网上打开开发者模式直接去看元素的宽高等*/
    font: 14px / 1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
   color: #3331;
   background-color: #fff;
   min-width: 1226px;
}
.content-desc .container{
    width: 100%;
    height: 5872px;
   margin: 0 auto;
   margin-top: 20px;
   background-color: #f5f5f5;
   min-width: 1226px;
   padding: 4px 0 12px;
   overflow: hidden;
}
/* banner */
.content-desc.content-banner{
    margin-top: 18px;
    height: 120px;
}
.content-desc.content-banner a{
    width: 1226px;
    height: 120px;
    
}
.content-desc .box .phone{
position: relative;
left: 123px;
top:-16px;
    color: black;
    display: inline-block;
}
.content-desc .more{
    position: relative;
    float: right;
    right: 123px;
    color: black;
    font-size: large;
    cursor: pointer;
}
.content-desc .more:hover{
    color: orange;
}
.content-desc .box-bd{
    width: 100%;
    height: 614px;
}
.content-desc .box-bd .row .row-l a img{
    float: left;
    height: 614px;
    width: 234px;
    position: relative;
    left:123px;
    top:-12px;
}
.content-desc .box-bd .row .row-r{
    width: 992px;
    height: 614px;
    float: left;
    position: relative;
    display: block;

}
.figure{
    width: 234px;
    height: 300px;
    margin: 0 0 14px 14px ;
    padding: 20px 0;
    background-color: white;
    box-sizing: border-box;
   position: absolute;
   left: 125px;
   top:-13px;

}
.figure:hover{
    transform: translateY(-2px);
    box-shadow: 0 15px 30px rgba(0,0,0, 1);
}
.figure a{
    text-align: center;
}
 .figure a img {
  width: 160px ;
height:160px ;
line-height: 160px;
display: inline-block; 
vertical-align: middle;

}
.figure a h3{
    width: 214px ;
    height: 21px;
    color: #333;
   line-height: 21px;
   margin: 0 auto 2px;

}
.figure .up{
    width: 214px ;
    height: 18px;
    color: #b0b0b0;
    font-size: 12px;
     line-height:18px ;
  margin: 0 8px ;
}
.figure .down{
    color: #ff6700;
    font-size: 14px;
}

/* .copy{
    width: 234px;
    height: 300px;
    margin: 0 0 14px 14px ;
    padding: 20px 0;
    background-color: white;
    box-sizing: border-box;
    float: left;
}

.copy:hover{
    transform: translateY(-2px);
    box-shadow: 0 15px 30px rgba(0,0,0, 1);
}
.copy a{
    text-align: center;
}
 .copy a img {
  width: 160px ;
height:160px ;
line-height: 160px;
display: inline-block; 
vertical-align: middle;

}
.copy a h3{
    width: 214px ;
    height: 21px;
    color: #333;
   line-height: 21px;
   margin: 0 auto 2px;

}
.copy.up{
    width: 214px ;
    height: 18px;
    color: #b0b0b0;
    font-size: 12px;
     line-height:18px ;
  margin: 0 8px ;
}
.copy.down{
    color: #ff6700;
    font-size: 14px;
} */